<h3>Name:<%= @attraction.name %></h3>
Minimum height:<%= @attraction.min_height %>
Happiness Rating:<%= @attraction.happiness_rating %>
Nausea Rating:<%= @attraction.nausea_rating %>
Tickets:<%= @attraction.tickets %>
